footer {

    .col-md-4 {
        margin-top: 50px;
        text-align: center;

        .img-fluid {
            margin-bottom: 12px;
        }
        
        iframe {
            width: 100%;
            height: 310px;
            border: none;
        }

        h2 {
            margin: 0px 0px 10px 0px;
            font-weight: 700;
            font-size: 30px;
            color: #f38f00;
        }

        .footer-list-menu {
            list-style: none;
            padding-left: 0px;
            text-align: left;

            li {
    
                a {
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 20px;
                    color: #f38f00;
                }
            }
        }

        .footer-list-address {
            list-style: none;
            padding-left: 0px;
            text-align: left;
    
            li {
                margin-bottom: 10px;
                padding: 5px 0px 5px 40px;
                line-height: 23px;                
                font-size: 20px;

                &:nth-of-type(1) {
                    background: transparent url('../img/icon-user.png') left 3px no-repeat;
                }

                &:nth-of-type(2) {
                    background: transparent url('../img/icon-location.png') left 3px no-repeat;
                }

                &:nth-of-type(3) {
                    background: transparent url('../img/icon-phone.png') left 3px no-repeat;
                }

                &:nth-of-type(4) {
                    background: transparent url('../img/icon-email.png') left 8px no-repeat;
                }
            }
        }

        .btn-primary {
            margin-bottom: 22px;
            padding: 1px 20px;
            border: none;
            background: #f38f00;
            -webkit-border-radius: 0.35rem;
            -moz-border-radius: 0.35rem;
            border-radius: 0.35rem;
        }

        &:nth-of-type(1) {
            text-align: left;
        }
    }
    
    .footer-copyright {
        margin-top: 15px;
        padding: 0px 80px;

        p {
            margin: 0px;
            padding: 15px 0px;
            border-top: 3px solid #f38f00;
            text-align: center;
            line-height: 21px;
            font-size: 16px;
            color: #000;    
        }
    }
}

@include media-breakpoint-down(md) {

    footer {

        .footer-copyright {
            padding: 0px;
        }
    }
}