.home-banner {
    padding: 40px 0px 25px 0px;
    border-bottom: 6px solid #1c38b4;
    background-color: transparent;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 2s;
    transition: all 2s;

    .col-6 {
        display: flex;
        align-items: center;

        .btn-group {

            .btn {
                padding: 0px 0px 0px 40px;
                border: none;
                box-shadow: none;
                background-color: transparent;
                line-height: 50px;
                font-size: 50px;
                color: #000;
                background: transparent url('../img/icon-menu.png') left 17px no-repeat;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;

                &:active,
                &:focus,
                &:hover {
                    border: none;
                    box-shadow: none;
                    background-color: transparent;
                    box-shadow: none !important;
                    color: #000;
                }

                &::after {
                    display: none;
                }
            }

            .dropdown-menu {
                padding: 0px;
                background-color: rgba(255,255,255, 0.7);
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;

                .dropdown-item {
                    padding: .5rem 1.5rem;
                    font-size: 20px;
                    color: #000;
                }
            }
        }
    }

    .col-12 {
        padding: 0px 85px;

        .owl-carousel-home {
            margin-top: 250px;
            text-align: right;

            p {
                text-align: justify;
                font-weight: 700;
                color: #FFF;
            }

            small {
                font-style: italic;
                font-weight: 700;
                font-size: 20px;
                color: #FFF;
            }

            .owl-dots {
                margin-top: 35px;
                text-align: center;

                .owl-dot {
                    margin: 0px 7px;
                    
                    span {
                        width: 19px;
                        height: 19px;
                        float: left;
                        background: transparent url('../img/circle-banner.png') center center / 100% 100% no-repeat;
                    }
                }    
            }
        }

        .btn-owl-carousel-home {
            position: absolute;
            top: 230px;
            left: 15px;

            &-right {
                left: auto;
                right: 15px;
            }
        }
    }
}

.home-career-services {

    .col-lg-7 {
        padding-right: 40px;
        background-color: #FFF;

        h2 {
            margin: 18px 0px 10px 0px;
            text-align: center;
            font-weight: 700;
            font-size: 40px;
            color: #000;
        }

        p {
            margin: 0px 0px 25px 0px;
            text-align: justify;
            line-height: 35px;
            font-size: 30px;
            color: #000;
        }

        .container-block-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            .items {
                padding: 0px 10px;
                margin-bottom: 20px;
            }
        }
    }
    
    .col-lg-5 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        
        .img-fluid {
            max-width: 410px;    
        }
    }
}

.home-staffing-service {

    .col-lg-4 {
        background: transparent url('../img/img-staffing-service.jpg') center center / cover no-repeat;
    }

    .col-lg-8 {
        padding-left: 40px;
        text-align: center;
        background-color: #a9a9a9;

        h2 {
            margin: 18px 0px 10px 0px;
            font-weight: 700;
            font-size: 40px;
            color: #FFF;
        }

        p {
            margin: 0px 0px 25px 0px;
            text-align: justify;
            line-height: 35px;
            font-size: 30px;
            color: #FFF;
        }

        .btn-primary {
            margin-bottom: 22px;
            padding: 1px 20px;
            border: none;
            background: transparent url('../img/bg-btn.jpg') top left / 1px 100% repeat-x;
            -webkit-border-radius: 0.35rem;
            -moz-border-radius: 0.35rem;
            border-radius: 0.35rem;
        }
    }
}

.home-industries {

    .col-lg-4 {
        background: transparent url('../img/img-industries-areas-of-experise.jpg') center center / cover no-repeat;
    }

    .col-lg-8 {
        padding-right: 40px;
        padding-bottom: 12px;
        text-align: center;

        h2 {
            margin: 18px 0px 10px 0px;
            font-weight: 700;
            font-size: 40px;
            color: #000;
        }

        p {
            margin: 0px 0px 25px 0px;
            text-align: justify;
            line-height: 35px;
            font-size: 30px;
            color: #000;
        }

        .btn-primary {
            margin-bottom: 22px;
            padding: 1px 20px;
            border: none;
            background: transparent url('../img/bg-btn.jpg') top left / 1px 100% repeat-x;
            -webkit-border-radius: 0.35rem;
            -moz-border-radius: 0.35rem;
            border-radius: 0.35rem;
        }
    }
}

.home-job-opportunities-title {
    background: transparent url('../img/bg-home-job-opportunities-title.jpg') top left / 1px 100% repeat-x;
    border-bottom: 2px solid #000;

    h2 {
        margin: 8px 0px;
        text-align: center;
        font-weight: 700;
        font-size: 50px;
        color: #FFF;
    }
}

.home-job-opportunities {
    padding-bottom: 20px;
    background: transparent url('../img/img-home-job-opportunities.jpg') left top / 100% 1px repeat-y;

    .col-12 {
        padding: 0px 50px;
        
        .owl-carousel {
            
            .item {
                
                .content{
                    width: 100%;
                    padding: 68px 38px 58px 38px;
                    text-align: center;
                    background: transparent url('../img/bg-content-three-home.png') left top / 100% 100% no-repeat;
                    
                    img {
                        width: 100%;
                    }
                    
                    p {
                        min-height: 80px;
                        margin-top: 10px;
                        margin-bottom: 0.1rem;
                        line-height: 20px;
                        font-weight: 700;
                        font-size: 17px;
                        color: #666666;
                    }
                    
                    .btn-primary {
                        padding: 1px 20px;
                        border: none;
                        font-weight: 700;
                        font-size: 0.8rem;
                        background: transparent url('../img/bg-btn.jpg') top left / 1px 100% repeat-x;
                        -webkit-border-radius: 0.35rem;
                        -moz-border-radius: 0.35rem;
                        border-radius: 0.35rem;
                    }					
                }
            }
        }

        .btn-owl-carousel {
            top: 47%;
            left: 0px;
            position: absolute;

            &.bth-owl-carousel-right {
                right: 0px;
                left: auto;
            }
        }
    }
}

@include media-breakpoint-down(md) {

    .home-banner {

        .col-6 {

            .btn-group {

                .btn {
                    padding: 0px 0px 0px 40px;
                    line-height: 30px;
                    font-size: 30px;
                    background: transparent url('../img/icon-menu.png') left 0px no-repeat;
                }
            }
        }

        .col-12 {
            padding: 0px 15px;

            .owl-carousel-home {
                margin-top: 100px;
                text-align: center;

                p {
                    text-align: center;
                }
            }

            .btn-owl-carousel-home {
                display: none;
            }
        }
    }

    .home-career-services {
        background: #FFF;

        .row {
            flex-direction: column-reverse;

            .col-lg-7 {
                padding-right: 15px;

                .container-block-item {
                    flex-wrap: wrap;
                    justify-content: center;

                    .items {
                        
                        .img-fluid {
                            max-width: 140px;
                        }
                    }
                }
            }

            .col-lg-5 {
                
                .img-fluid {
                    max-width: 250px;    
                }
            }
        }
    }

    .home-staffing-service {
        margin-top: 20px;
        background: #FFF;

        .col-lg-4 {
            height: 200px;
        }

        .col-lg-8 {
            padding-left: 15px;
        }
    }

    .home-industries {
        margin-top: 20px;

        .row {
            flex-direction: column-reverse;

            .col-lg-4 {
                min-height: 200px;
            }

            .col-lg-8 {
                padding-right: 15px;
            }
        }
    }

    .home-job-opportunities-title {

        h2 {
            font-size: 40px;
        }
    }

    .home-job-opportunities {
        padding-bottom: 0px;

        .col-12 {
            padding: 0px 15px;

            .btn-owl-carousel {
                display: none;
            }
        }
    }
}