//@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    //font-family: 'Quicksand', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 22px;
}

body {
	overflow-x: hidden;
	background-color: #FFF;
}

header,
footer,
section,
article {
	width: 100%;
	float: left;
	position: relative;
}

.container {
	max-width: 100%;
}

#exampleModalCenter {

	.modal-body {

		.form-group {

			.custom-file {

				.custom-file-input {
					cursor: pointer;
				}
			}
		}
	
		p {
			margin: 0px;
			text-align: justify;
			line-height: 15px;
			font-size: 12px;

			strong {
				font-size: 12px;
			}
		}
	}
}