@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,900|Roboto:400,900');

* {
    font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

body {
	overflow-x: hidden;
	background-color: #e3e3e3;
}

header,
footer,
section,
article {
	width: 100%;
	float: left;
	position: relative;
}